@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html,
body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    background-color: #f2eaf7;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}
